.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2 em;
}

.App-intro {
  font-size: large;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.comments {
  width: 40%;
  height: 100px;
  padding: 10px;
  background-color: white;
}

.submitButton{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
font-size: 25px
}
.nextButton {
  display: inline-block;
  padding: 10px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: lightgrey;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 10px;
}

.pageHeading{
  font-size: 50px
}

.inputField {
  font-size: px;
  padding: 10px 15px;

}

.homeButton {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: lightgrey;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 10px;
}

table{
  width: 50%;
  border-style: solid;
  margin-left: 350px;
  padding-bottom: 15px;
  padding-top: 10px;
  margin-bottom: 10px
}

tr:nth-child(even) {background-color: #f2f2f2;}

